web:
    build: 
      context: ./servers/Web
      dockerfile: Dockerfile
    image: ${server_name}
    container_name: ${server_name}
    restart: always
    ports:
      - "${port}:${port}"
    volumes:
      - './servers/Web/config/nginx:/etc/nginx/sites-enabled:ro'
      - './servers/Web/config/cgit:/etc/cgitrc.d:ro'
      - './www:/var/www:ro'
      - './log/Web:/var/log/nginx'
    networks:
      - default
