${server_name}:
    build: 
      context: ./${server_name}
      dockerfile: Dockerfile
    image: ${server_name}
    container_name: ${server_name}
    restart: always
    ports:
      - "${port}:${port}"
    volumes:
      - './${server_name}/config/nginx:/etc/nginx/sites-enabled'
      - './${server_name}/web:/var/www'
      - './${server_name}/log:/var/log/nginx'
      - './${server_name}/data:/workdir'
      - './${server_name}/build:/build'
    networks:
      - default
