gitmirror:
    build: 
      context: ./servers/GitMirror
      dockerfile: Dockerfile
    image: ${server_name}
    container_name: ${server_name}
    volumes:
      - './servers/GitMirror/apps:/apps'
      - './log/GitMirror:/apps/log'
    networks:
      - default
